.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr {
  background-color: #1C1C1C;
  color: #ffffff;
  text-align: left;
}
.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr:nth-of-type(even) {
  background-color: #ececec;
}

.table tbody tr:hover{
  background-color: rgba(152, 75, 219, 0.2);
}
table {

  overflow-x: auto;
}
.ContentImg {
  width: 80%;
  height: auto;
}
.Content {
  display: flex;
  background: rgb(255, 255, 255);
  width: 90%;
  margin-right: auto;
  margin-left:  auto;
  justify-content: center;
}
.TdRef {
  width: 3%;
}
.TdImg {
  width: 15%;
}
.TdTipo {
  width: 10%;
}
.TdPreco {
  width: 5%;
}
.TdNome {
  width: 15%;
}
.TdAcoes {
  width: 15%;
}
.TdRef_ {
  padding-left: 2%;
}
.TdTipo_ {
  padding-left: 2%;
}
.TdPreco_ {
  padding-left: 2%;
}
.TdNome_ {
  padding-left: 2%;
}
.TdAcoes_ {
  padding-left: 2%;
  justify-content: center;
  align-items: center;
}
.TdAcoes,
.TdImg,
.TdNome,
.TdPreco,
.TdRef,
.TdTipo {
  padding-left: 2%;
height: 50px;
}
.TdText {
    text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  color: white;
}

.TdAcoes_,
.TdImg_,
.TdNome_,
.TdPreco_,
.TdRef_,
.TdTipo_ {
  align-items: center;

  padding-top: 2%;

  height: 3px;
  text-transform: lowercase;
}
.ContentButtonEdit {
  background-color: rgba(143,107,244);
  border-radius: 5px;
  border: none;
  width: 80%;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 80%;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}
.ContentButtonEdit:hover {
  background-color: #4346E8;
}
.ContentButtonEdit:active {
  position: relative;
  top: 1px;
}
.ContentButtonStock {
  background-color: rgba(143,107,244);
  width: 80%;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 80%;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  margin-top: 10%;
}
.ContentButtonStock:hover {
  background-color: #4346E8;
}
.ContentButtonStock:active {
  position: relative;
  top: 1px;
}

.ContentButtonElim {
 width: 80%;
  background-color: rgba(143,107,244);
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 80%;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  margin-top: 10%;
}
.ContentButtonElim:hover {
  background-color: #4346E8;
}
.ContentButtonElim:active {
  position: relative;
  top: 1px;
}
.ContentButtonAdd{
    width: 30%;
    background-color: #90A8D4;
    border-radius: 6px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 90%;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 3%;
   
    text-align: center;
}
.ContentButtonAdd:hover{
background-color: #232833;
}
.DivButtonAdd{
     
 
    text-align: center;
}

@media screen and (max-width: 850px) {
    .ContentButtonStock ,.ContentButtonElim,.ContentButtonEdit{
        width: 95%;     
    font-size: 9px;
    padding: 0;
    height: 30px;
    margin-top: 5%;   
    }
    .TdText{
      text-transform:lowercase;
      font-weight: normal;
        font-size: 11px;
    }
    .Content {
   
       width: 100%;
      }
      .TdRef {
        width: 2%;
      }
      .TdImg{
          width: 20%;
      }
      .TdNome {
        width: 3%;
      }
      .ContentButtonAdd{
    font-size: 12px;
    }
      
    
}