.footerContainer {
    display: flex; 
    justify-content: space-around;
    width: 100%;
    background-color: white;
  }

  .container{
      width: 90%;
      margin-left: 0 auto;
      margin-right: 0 auto;   
      margin-top: auto;
  }
  
  .col-links ul li, .contactos ul li{
    margin-top: 10px;
   
  }
  .col-links ul, .contactos ul {
      padding: 5px 0px;
  }