.formEdit{
    display: flex;
    background: rgb(0, 0, 0);
    min-height: calc(100vh - 260px);
    
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 50px;
   min-height: 60vh;
   color: rgb(255, 255, 255);
  margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:  left;
    font-size: 21px;
}

.input1 , .select1 {
    font-size: 18px;
    padding: 10px 10px 0px 0px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 5px solid rgb(84, 9, 119);
    margin: 20px 0;
    
    
  }
  .select1:focus {
    outline: none;
    border: none;
  }
  .input1:focus {
    outline: none;
  }


  .labels{
      padding: 20px 20px 20px 20px;
  }
  .option1{
      background-color: white;
  }