.formLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 4px black solid;
  box-shadow: 10px 10px 5px grey;

  text-align: center;
  background-color: rgb(252, 252, 252);
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;

  min-height: 75vh;
}
.formRegister {
  background-color: red;
}

.userLabel {
  margin-top: 100px;
}
.passLabel {
  margin-top: 20px;
}

.labelGuardarDados {
  margin-top: 20px;
  font-size: 20px;
}

.buttonForm {
  margin-top: 60px;
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.buttonForm:active {
  transform: scale(0.95);
}

.buttonForm:focus {
  outline: none;
}

.buttonForm.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

@media screen and (max-width: 900px) {
  .formLogin {
    width: 60%;
  }
  .labelGuardarDados {
    margin-left: -50px;
    font-size: 16px;
  }
}
