.dadosPessoaisForm{
  display: flex;
  background:rgb(14, 13, 13);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: 50px;
 min-height: 60vh;
 color: white;
margin-bottom: 30px;


}
.divDados{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align:  left;
 }
 .divInfo{
   width:50%;
   padding-top: 100px;
  
 }
.divInfoss{
  padding-top: 50px;
  text-align:center;
}
.divImgagem {
text-align: center;
}
.divImgagem img{
  width: 100%;
 max-width: 202px;
  height: 200px;
}
.dadosPessoaisForm input, select{
  width:60%;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.dadospessoais{
  width: 80%;
  margin-left: 10%;
  padding-top: 50px;
}
 .dadosPessoaisForm a {
margin-left: 30px;
font-size: 22px;
 }
 .buttonForm1 {
    margin-top: 60px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #000000;
   font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
max-width: 190px;
  font-size:0.875em;
  width: 100%;
  margin-top:35px;
  margin-right: 10px;
}

.buttonForm1:active {
  transform: scale(0.95);
}

.buttonForm1:focus {
  outline: none;
}

.buttonForm1.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

@media screen and (max-width: 1300px) {
  .dadosPessoaisForm{
    width: 80%;}
  }
  @media screen and (max-width: 900px) {
    .dadosPessoaisForm{
      width: 100%;}
    }